@{
    ViewData["Title"] = "Política de privacidade";
}
<div class="page-card">
    <h1>Política de Privacidade da CafeteriaWeb</h1>

    <p><strong>Data de vigência:</strong> 2023</p>

    <p>A CafeteriaWeb (doravante referida como "nós", "nosso" ou "Cafeteria") está comprometida em proteger a privacidade dos usuários de nosso aplicativo móvel. Esta Política de Privacidade descreve como coletamos, usamos e protegemos informações pessoais quando você utiliza nosso aplicativo. Ao usar o aplicativo da Cafeteria, você concorda com os termos desta Política de Privacidade.</p>

    <h2>1. Informações Coletadas</h2>

    <ul>
        <li><strong>Informações de Cadastro:</strong> Ao fazer um pedido ou criar uma conta, coletamos informações pessoais, como nome, endereço, número de telefone e endereço de e-mail.</li>
        <li><strong>Informações de Pagamento:</strong> Para processar transações, coletamos informações de pagamento, como números de cartão de crédito ou débito.</li>
        <li><strong>Informações de Compra:</strong> Registramos históricos de compra, incluindo produtos adquiridos e valores gastos.</li>
        <li><strong>Informações do Dispositivo:</strong> Coletamos informações sobre o dispositivo que você usa para acessar o aplicativo, como o tipo de dispositivo, sistema operacional e identificadores únicos.</li>
        <li><strong>Localização:</strong> Se você optar por compartilhar sua localização, podemos coletar informações de localização para fornecer serviços baseados em localização, como encontrar a cafeteria mais próxima.</li>
    </ul>

    <h2>2. Uso das Informações</h2>

    <p>Utilizamos as informações para processar pedidos, fornecer produtos e serviços, responder a perguntas e fornecer suporte ao cliente. As informações de compra são usadas para gerenciar transações e históricos de pedidos. As informações do dispositivo são usadas para melhorar a experiência do usuário e para fins de segurança. As informações de localização são usadas para fornecer serviços baseados em localização, como localização de cafeterias próximas.</p>

    <h2>3. Compartilhamento de Informações</h2>

    <p>Não compartilhamos informações pessoais com terceiros, exceto quando necessário para processar pedidos ou atender solicitações do usuário. Podemos compartilhar informações agregadas e anônimas.</p>
</div>


