@model CafeteriaWeb.Models.Notification

@{
    ViewData["Title"] = "Notificação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-card">
    <h1>Notificações</h1>

    <div>
        <hr />      
        @if (Model.NotificationType == CafeteriaWeb.Models.Enums.NotificationType.Order_Approved || Model.NotificationType == CafeteriaWeb.Models.Enums.NotificationType.NewOrder)
        {
            <div class="item-align-center alert alert-success">
                <h3>@Model.Title</h3>
            </div>
        }   
        else if (Model.NotificationType == CafeteriaWeb.Models.Enums.NotificationType.Order_Error || Model.NotificationType == CafeteriaWeb.Models.Enums.NotificationType.Order_Canceled)
        {
            <div class="item-align-center alert alert-danger">
                <h3>@Model.Title</h3>
            </div>
        }
        else
        {
            <div class="item-align-center alert alert-light">
                <h3>@Model.Title</h3>
            </div>
        }
        <div class="item-align-center">
            <h4>@Model.Text</h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">OK <i class="fa-regular fa-circle-check"></i></a>
            </div>
        </div>
        <div class="col-6 text" style="text-align: end">
            <div class="form-group">
                <a class="btn btn-secondary ml-2" asp-action="Index">Notificações</a>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</div>
