.card-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
.form-floating {
    margin-bottom: 15px;
}

.reset-password-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

    .reset-password-button:hover {
        background-color: #0056b3;
    }
