html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.content-page {
    margin: 15px;
    margin-bottom: 10px;
}
a:hover {
    cursor: pointer;
}

.page-card {
    margin: 15px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.item-align-center {
    display: flex;
    justify-content: center; /* Alinhar horizontalmente no centro */
    align-items: center; /* Alinhar verticalmente no centro */
}