@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}
<div class="page-card">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
