@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperar senha";
}
<div class="page-card">
    <h1>@ViewData["Title"]</h1>
    <p>
        Por favor, verifique seu email para recuperar a senha.
    </p>
</div>