@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueio";
}
<div class="page-card">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Sua conta foi bloqueada, entre em contato com o suporte.</p>
    </header>
</div>
